<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/simulacaoTurfe/home/index.jsp">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Proprietário
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="/simulacaoTurfe/proprietario/cadastro.jsp">Cadastrar</a>
							</li>
							<li>
								<a class="dropdown-item" href="/simulacaoTurfe/ProprietarioList?next=proprietario/listagem.jsp">Listar</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Cavalo
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="/simulacaoTurfe/ProprietarioList?next=cavalo/cadastro.jsp">Cadastrar</a>
							</li>
							<li>
								<a class="dropdown-item" href="/simulacaoTurfe/CavaloList?next=cavalo/listagem.jsp">Listar</a>
							</li>
							<li>
								<a class="dropdown-item" href="/simulacaoTurfe/CavaloList?next=CorridaList?next=cavalo/inscricaoCorrida.jsp">Inscrever em
									Corrida</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Corrida
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="/simulacaoTurfe/corrida/cadastro.jsp">Cadastrar</a>
							</li>
							<li>
								<a class="dropdown-item" href="/simulacaoTurfe/CorridaList?next=corrida/listagem.jsp">Listar</a>
							</li>
							<li>
								<a class="dropdown-item" href="/simulacaoTurfe/InscricaoCorridaList?next=corrida/inscricoes.jsp">Inscrições</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Tema
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" data-bs-theme-value="light">Claro</a>
							</li>
							<li>
								<a class="dropdown-item" data-bs-theme-value="dark">Escuro</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<a class="navbar-brand" href="../home/index.jsp">Administração - Turfe</a>
		</div>
	</nav>
</header>