<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ProprietarioAdd</display-name>
    <servlet-name>ProprietarioAdd</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.ProprietarioAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietarioAdd</servlet-name>
    <url-pattern>/ProprietarioAdd</url-pattern>
  </servlet-mapping>
  <display-name>simulacaoTurfe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProprietarioList</display-name>
    <servlet-name>ProprietarioList</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.ProprietarioList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietarioList</servlet-name>
    <url-pattern>/ProprietarioList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CavaloAdd</display-name>
    <servlet-name>CavaloAdd</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CavaloAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CavaloAdd</servlet-name>
    <url-pattern>/CavaloAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CavaloList</display-name>
    <servlet-name>CavaloList</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CavaloList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CavaloList</servlet-name>
    <url-pattern>/CavaloList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorridaAdd</display-name>
    <servlet-name>CorridaAdd</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CorridaAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorridaAdd</servlet-name>
    <url-pattern>/CorridaAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorridaList</display-name>
    <servlet-name>CorridaList</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CorridaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorridaList</servlet-name>
    <url-pattern>/CorridaList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscricaoCorridaAdd</display-name>
    <servlet-name>InscricaoCorridaAdd</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.InscricaoCorridaAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscricaoCorridaAdd</servlet-name>
    <url-pattern>/InscricaoCorridaAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncricaoCorridaList</display-name>
    <servlet-name>IncricaoCorridaList</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.IncricaoCorridaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncricaoCorridaList</servlet-name>
    <url-pattern>/IncricaoCorridaList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscricaoCorridaLista</display-name>
    <servlet-name>InscricaoCorridaLista</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.InscricaoCorridaLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscricaoCorridaLista</servlet-name>
    <url-pattern>/InscricaoCorridaLista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscricaoCorridaList</display-name>
    <servlet-name>InscricaoCorridaList</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.InscricaoCorridaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscricaoCorridaList</servlet-name>
    <url-pattern>/InscricaoCorridaList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioCadastrar</display-name>
    <servlet-name>UsuarioCadastrar</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.UsuarioCadastrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioCadastrar</servlet-name>
    <url-pattern>/UsuarioCadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioAdd</display-name>
    <servlet-name>UsuarioAdd</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.UsuarioAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioAdd</servlet-name>
    <url-pattern>/UsuarioAdd</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filtro</display-name>
    <filter-name>Filtro</filter-name>
    <filter-class>br.cefet.simulacaoTurfe.control.Filtro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filtro</filter-name>
    <url-pattern>/Filtro</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioLogin</display-name>
    <servlet-name>UsuarioLogin</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.UsuarioLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioLogin</servlet-name>
    <url-pattern>/UsuarioLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietarioUpdate</display-name>
    <servlet-name>ProprietarioUpdate</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.ProprietarioUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietarioUpdate</servlet-name>
    <url-pattern>/ProprietarioUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietarioPrepare</display-name>
    <servlet-name>ProprietarioPrepare</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.ProprietarioPrepare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietarioPrepare</servlet-name>
    <url-pattern>/ProprietarioPrepare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProprietarioDelete</display-name>
    <servlet-name>ProprietarioDelete</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.ProprietarioDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProprietarioDelete</servlet-name>
    <url-pattern>/ProprietarioDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CavaloPrepare</display-name>
    <servlet-name>CavaloPrepare</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CavaloPrepare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CavaloPrepare</servlet-name>
    <url-pattern>/CavaloPrepare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CavaloUpdate</display-name>
    <servlet-name>CavaloUpdate</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CavaloUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CavaloUpdate</servlet-name>
    <url-pattern>/CavaloUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CavaloDelete</display-name>
    <servlet-name>CavaloDelete</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CavaloDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CavaloDelete</servlet-name>
    <url-pattern>/CavaloDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorridaPrepare</display-name>
    <servlet-name>CorridaPrepare</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CorridaPrepare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorridaPrepare</servlet-name>
    <url-pattern>/CorridaPrepare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorridaUpdate</display-name>
    <servlet-name>CorridaUpdate</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CorridaUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorridaUpdate</servlet-name>
    <url-pattern>/CorridaUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorridaDelete</display-name>
    <servlet-name>CorridaDelete</servlet-name>
    <servlet-class>br.cefet.simulacaoTurfe.control.CorridaDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorridaDelete</servlet-name>
    <url-pattern>/CorridaDelete</url-pattern>
  </servlet-mapping>
</web-app>